.overlayProj {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customModalProj {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  padding: 0px 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customModalHeaderProj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-buttonProj {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.custom-modal-contentProj {
  height: 140px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 80%;
}
